<nav class="navbar navbar-expand-lg navbar-bg">
    <div class="container text-light">
        <h1>
            <i class="bi bi-ui-checks"></i>
            Form
        </h1>
    </div>
</nav>
<div class="container mt-5 mb-4">
    <form #userForm="ngForm" (ngSubmit)="btnSubmit(userForm)">
        <div class="form-group mb-4">
            <h6>Name</h6>
            <input type="text" 
                name="txtName" id="name" class="form-control border border-dark" 
                ngModel #txtNameField="ngModel"
                required minlength="3"
            >
            <!-- <small class="text-danger" *ngIf="txtNameField.touched && txtNameField.invalid"> -->
            <small class="text-danger">
                <span *ngIf="txtNameField.errors?.['required']">
                    Name is required
                </span>
                <span *ngIf="txtNameField.errors?.['minlength']">
                    Name must contain altleast 3 alphabets
                </span>
            </small>
        </div>
        <div class="form-group mb-4">
            <h6>Email</h6>
            <input type="email" name="txtEmail" id="email" class="form-control border border-dark"
                ngModel #txtEmailField="ngModel"
                required email>
            <!-- <small class="text-danger" *ngIf="txtEmailField.touched && txtEmailField.invalid"> -->
            <small class="text-danger">
                <span *ngIf="txtEmailField.errors?.['required']">
                    Email is required
                </span>
                <span *ngIf="txtEmailField.errors?.['email']">
                    Please enter valid email address
                </span>
            </small>
        </div>
        <div class="form-group mb-4">
            <h6>Mobile number</h6>
            <input type="number" name="numMobile" id="numMobile" class="form-control border border-dark"
                ngModel #numMobileField="ngModel"
                required pattern="^\d{10}$"
            >
            <!-- <small class="text-danger" *ngIf="numMobileField.touched && numMobileField.invalid"> -->
            <small class="text-danger">
                <span *ngIf="numMobileField.errors?.['required']">
                    Mobile number is required
                </span>
                <span *ngIf="numMobileField.errors?.['pattern']">
                    Please enter valid mobile number
                </span>
            </small>
        </div>
        <div class="form-group mb-4">
            <h6>Gender</h6>
            <ngx-select-dropdown 
                [config]="drpGenderConfig" [options]="drpGenderOptions" 
                class="form-control border border-dark" name="drpGender" 
                (change)="drpGenderOnChange($event)"
                ngModel #drpGender="ngModel"
                required
            >
            </ngx-select-dropdown>
            <!-- <small class="text-danger" *ngIf="drpGender.touched && drpGender.invalid"> -->
            <small class="text-danger" *ngIf="drpGender.touched && drpGender.invalid">
                <span *ngIf="drpGender.errors?.['required']">
                    Gender is required
                </span>
            </small>
            <small *ngIf="this.enableLGBTViolation" class="text-danger">
                Opinion Rejected 🌈❌
            </small>
        </div>
        <div class="form-group mb-4">
            <h6>Nationality</h6>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                    name="rdbNationality" id="inlineRadio1" value="Indian"
                    ngModel #rdbNationality="ngModel" required
                >
                <label class="form-check-label" for="inlineRadio1">Indian</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                    name="rdbNationality" id="inlineRadio2" value="NRI"
                    ngModel #rdbNationality="ngModel" required
                >
                <label class="form-check-label" for="inlineRadio2">NRI</label>
            </div>
            <div class="div">
                <small class="text-danger" *ngIf="!rdbNationality.touched && rdbNationality.invalid">
                    Nationality is required
                </small>
            </div>
        </div>
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" 
                value="true" id="flexCheckDefault" name="chkAgreement"
                ngModel #chkAgreement="ngModel" required
            >
            <label class="form-check-label" for="flexCheckDefault">
                <h6>I agree to the terms & conditions</h6>
            </label>
            <div>
                <small class="text-danger" *ngIf="!chkAgreement.touched && chkAgreement.invalid">
                    Please agree to the terms
                </small>
            </div>
        </div>
        <button class="btn btn-success btn-lg w-100" type="submit" [disabled]="userForm.invalid || this.enableLGBTViolation">Submit</button>
    </form>
</div>
<div class="container text-center">
    <p>
        <i class="bi bi-ui-checks"></i>
        Form - All rights reserved - {{currentYear}}
    </p>
</div>